/* TEXT COLOR */
/* main color for text: #757575; */
/* main color for text in header: #212121; */
/* secondary color for text: #FFFFFF; */
/* color accent: #2196F3 */
/* Color for logo: #000000 */

/* BACKGROUND COLOR */
/* main background color: #FFFFFF; */
/* secondary background color: #2F303A */
/* another background color: #F5F4FA */

/* ELEMENTS COLOR */
/* Color for icons: #AFB1B8 */

/* common selectors */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --primary-icon-color: #afb1b8;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;

  content: '';
  width: 100%;
  height: 4px;
  transform: scaleX(1);

  left: 0px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */
.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.container--center {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.main-nav__logo {
  margin-right: 93px;
  color: #000000;
}

.main-nav__list {
  display: flex;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* links for pages */
.main-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  transition: color 250ms var(--time-function);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__link::after,
.main-nav__link::after {
  position: absolute;

  content: '';
  width: 100%;
  height: 4px;
  right: 0px;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform 250ms var(--time-function), width 250ms var(--time-function);
}

.main-nav__link:hover::after,
.main-nav__link:focus::after {
  transform: scaleX(1);
}

/* Contacts */
.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition: color 250ms var(--time-function);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* MAIN */
/* Order a service */
.order {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/group-people.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--secondary-background-color);
}

.order__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.button--active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms var(--time-function);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-function);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;

  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Modal form */
.order-form__title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.order-form__label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 41px;
  margin-bottom: 10px;
}

.order-form__name {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.order-form__field {
  position: relative;
}

.order-form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);
}

.order-form__label:focus-within .order-form__input {
  border-color: var(--accent-color);
  outline: none;
}

.order-form__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.order-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;

  transition: fill 250ms var(--time-function);
}

.order-form__label:focus-within .order-form__icon {
  fill: var(--accent-color);
}

.order-form__input:not(:placeholder-shown) + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.order-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  margin-left: 52px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  appearance: none;
}

.checkbox__icon-empty {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-function), background-color 250ms var(--time-function);
  border-radius: 2px;
}
.checkbox__icon-check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
}

.checkbox__input:checked + .checkbox__icon-empty {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.checkbox__name {
  margin-left: 24px;
  font-weight: 400;
  line-height: 1.71;
}

.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.order-form__btn {
  width: 200px;

  transition: background-color 250ms var(--time-function);
}

.order-form__btn:hover,
.order-form__btn:focus {
  background: #188ce8;
}

/* Our adventages */
.adventage {
  padding-top: 94px;
  padding-bottom: 0px;
}

.adventage__list {
  display: flex;
}

.adventage__item:not(:last-child) {
  margin-right: 30px;
}

.adventage__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.adventage__desc {
  width: 270px;
  line-height: 1.71;
}

.adventage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-white-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* What we are doing */

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  bottom: 0px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Our team */
.team {
  background-color: var(--secondary-white-color);
}

.team__list {
  display: flex;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  width: 270px;
  text-align: center;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__hero-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__hero-desc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);

  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Our clients */
.client__list {
  display: flex;
  justify-content: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--primary-icon-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: color 250ms var(--time-function), border 250ms var(--time-function);
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* FOOTER */
/* address */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__section-address {
  width: 231px;
  margin-right: 70px;

  color: var(--primary-white-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  line-height: 1.5;
}

.address__contact {
  opacity: 0.6;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* social links */
.footer__section-social {
  margin-right: 93px;
}

.footer__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social__icon--fill-white {
  fill: var(--primary-white-color);
}

.social__link--bgr-color {
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-function);
}

.social__link--bgr-color:hover,
.social__link--bgr-color:focus {
  background-color: var(--accent-color);
}

/* subscribe to the newsletter */
.form-subscribe__field {
  display: flex;
}

.form-subscribe__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-function);
}

.form-subscribe__input:focus-within {
  border-color: var(--primary-white-color);
}

.form-subscribe__input::placeholder {
  position: absolute;
}

.form-subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding: 10px 28px;
  height: 50px;
}

.form-subscribe__btn-name {
  margin-right: 10px;
}

/* PORTFOLIO PAGE */

/* buttons */
.menu-btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-btn__item:not(:last-child) {
  margin-right: 8px;
}

.menu-btn__button {
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--secondary-white-color);
  border: 0px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: background-color 250ms var(--time-function), box-shadow 250ms var(--time-function),
    color 250ms var(--time-function);
}

.menu-btn__button:hover,
.menu-btn__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn__button--active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */
.card__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.card__item {
  width: 370px;
  margin: 15px;

  background: var(--primary-white-color);
}

.card__link {
  display: block;
  transition: box-shadow 250ms var(--time-function);
}

.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__icon {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;

  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0);
}

.overlay__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
}

.card__info {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__desc {
  max-width: 322px;

  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
